<%- include('../partials/header.ejs') %>

    <ul>
        <% books.forEach(function(t) { %>
            <li>
                <form action="/books/<%= t.id %>?_method=DELETE" method="POST" class="delete-form">

                    <button type="submit">X</button>
                </form>
            </li>
            <a href="/books/<%= t.id %>">
                <%= t.title %>
            </a>
            <% }); %>
    </ul>
    <a href="/books/new">Add book</a>

    <%- include('../partials/footer.ejs') %>