<%- include('../partials/header.ejs') %>
        <h3>
            <br>
            <%= book.author %>
            <br>
            <%= book.country %>
            <br>
            <img src="<%= book.imageLink %>" alt="">
            
            <br>
            <%= book.language %>
        </h3>
        <%- include('../partials/footer.ejs') %>