<%- include('../partials/header.ejs') %>
        <h3>
            <br>
            <%= book.title %>
            <br>
            <%= book.author %>
            <br>
            <%= book.country %>
            <br>
            <%= book.language %>
        </h3>
        <a href="/books/<%= book.id %>/edit">Edit Books</a>
        <%- include('../partials/footer.ejs') %>